{% extends "main_page/basic.html" %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Город</th>
            <th>Тип</th>
            <th>Номер</th>
        </tr>
    </thead>
    <tbody>
    {% for tp in substations %}
    <tr>
        <td><a href="{{ tp.get_absolute_url }}">
             {{tp.pk}}
        </a>
            </td>
        <td>{{tp.city}}</td>
        <td>{{tp.view}}</td>
        <td>{{tp.number}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if page_obj %}
    {% include 'helpers\pagination.html' %}
{% endif %}

{% endblock %}
