{% extends "main_page/basic.html" %}
{% block title %} {{ substation.view|upper }}-{{ substation.number|upper }} Удаление {% endblock %}
{% block content %}

<div class="container">
    <div class="card  bg-light shadow-sm ">
        <div class="card-header text-start fs-3">
            {{ substation.city|title }}: {{ substation.view|upper }} - {{ substation.number|upper }} Удалить?
        </div>
        <form method="post">{% csrf_token %}
            <div class="card-footer text-end">
                <input type="submit" class="btn btn-success rounded-pill px-3"
                       value="Удалить?">
            </div>
        </form>
    </div>
</div>


{% endblock %}
