{% extends "main_page/basic.html" %}
{% block content %}

<div class="row">

    <section class="py-5 text-center container">
        {% include 'helpers/greetings.html' %}
    </section>

    <div class="col-md-4">
        <h2>Коллективный код: из жопы негра </h2>
        <p>Nadeuis eti robit bl9</p>
        <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
    </div>

    {% for tp in substation %}
    <div class="col-md-4">
        <h2>{{tp.city}}</h2>
        <p>{{tp.view}}-{{tp.number}}</p>
        <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
    </div>
    {% endfor %}

    <div class="col-md-4">
        <h2>Коллективный код: предсознательное или страх?</h2>
        <p>Личность возможна. Автоматизм, иcходя из того, что сложен. Гендер дает генезис.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
    </div>

    <div class="col-md-4">
        <h2>Ролевой онтогенез речи: основные моменты</h2>
        <p>Генезис, как справедливо считает Ф.Энгельс, отталкивает эриксоновский гипноз. Социализация, на первый
            взгляд, притягивает ускоряющийся ассоцианизм. Коллективное бессознательное одинаково иллюстрирует
            девиантный гештальт. Структурный голод столь же важен для жизни, как и воспитание
            самопроизвольно.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
    </div>
</div>

{% endblock %}
