{% extends 'abstract_template\abs_card.html' %}
{% block title %}  Удаление {% endblock %}

{% block card_header %}
    {{ substation.city|title }}: {{ substation.view|upper }} - {{ substation.number|upper }}
{% endblock card_header %}

{% block card_body %}
    <p>Удалить?</p>
{% endblock card_body %}

{% block card_footer %}
<form method="post">{% csrf_token %}
        <input type="submit" class="btn btn-success rounded-pill px-3"
               value="Удалить?">
</form>
{% endblock card_footer %}

