{% extends 'abstract_template\abs_card.html' %}
{% block title %}{{ city.title|title }}{% endblock %}

{% block card_header %}
{{ city.title|title }}
{% endblock card_header %}

{% block card_body %}
    <span> Количество подстанций в городе: {{ count_substation }}</span>
{% endblock card_body %}

{% block card_footer %}
    <a class="btn btn-success rounded-pill" href="{% url 'photo:all' %}" role="button">Список</a>
    <a class="btn btn-success rounded-pill" href="{% url 'photo:create' %}" role="button">Добавить новый город</a>
    <a class="btn btn-warning rounded-pill" href="{% url 'photo:update' photo.pk %}" role="button">Редактировать</a>
    <a class="btn btn-danger rounded-pill" href="{% url 'photo:delete' photo.pk %}" role="button">Удалить</a>

{% endblock card_footer %}


{% block body %}

{% endblock body %}

