{% extends "tk/basic.html" %}
{% block content %}
<h2>Последние снимки:</h2>
{% for photo in photos %}
<div class="card mb-3">
    <div class="card-header">
        <a href="#">
            <h5>{{photo.date|date:"d.m.Y" }}: {{photo.number_photo}}</h5>
        </a>
        <h5>{{photo.substation}}</h5>
    </div>
    <div class="card-body">
        <h6 class="card-text">{{photo.view_ru}}: {{photo.cell}} - {{photo.number_cell}}
            <br>
            Температура:
            Воздуха - {{photo.t0}},
            ф.А - {{photo.ta}},
            ф.B - {{photo.tb}},
            ф.С - {{photo.tc}} </h6>
    </div>
    <div class="card-footer">
        {% if photo.temp_result == "Дефектов нет" %}
        <h5 class="card-subtitle mb-2 text-success">{{photo.temp_result}}</h5>
        {% elif photo.temp_result == "Начальный дефект" or photo.temp_result == "Развившийся дефект" %}
        <h5 class="card-subtitle mb-2 text-warning">{{photo.temp_result}}: {{photo.temp_str}}</h5>
        {% elif photo.temp_result == "Аварийный дефект" %}
        <h5 class="card-subtitle mb-2 text-danger">{{photo.temp_result}}: {{photo.temp_str}}</h5>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
