<div class="p-4 p-md-5 mb-4 rounded">
        <h1 class="display-5 fw-bold">Web-Приложение Тепловизионного контроля</h1>
        <p class="lead text-body-secondary">Приложение для быстрого и удобного доступа к фотографиям. Для их хранениея и
            др.Приложение для быстрого и удобного доступа к фотографиям. Для их хранениея и др
            Приложение для быстрого и удобного доступа к фотографиям. Для их хранениея и др
            Приложение для быстрого и удобного доступа к фотографиям. Для их хранениея и др</p>
</div>
