{% extends "main_page/basic.html" %}
{% block title %}{{city.title|title}}{% endblock %}
{% block content %}


<div class="container">
    <div class="card  bg-light shadow-sm ">
        <div class="card-header text-start fs-3"> {{ city.title|title }}</div>
        <div class="card-body text-start"><span> Количество подстанций в городе: {{ count_substation }}</span><br></div>
        <div class="card-footer text-end">
            <a class="btn btn-success rounded-pill" href="{% url 'city:create' %}" role="button">Добавить новый город</a>
            <a class="btn btn-warning rounded-pill" href="{% url 'city:update' city.slug %}" role="button">Редактировать</a>
            <a class="btn btn-danger rounded-pill" href="{% url 'city:delete' city.slug %}" role="button">Удалить</a>
        </div>
    </div>
</div>

{% endblock %}
