{% extends "main_page/basic.html" %}
{% block title %}{{city.title|title}}{% endblock %}
{% block content %}


<div class="container">
    <div class="card  bg-light shadow-sm ">
        <div class="card-header text-start fs-3"> {{ city.title|title }}</div>
        <div class="card-body text-start"><span> Количество подстанций в городе: 50</span><br></div>
        <div class="card-footer text-end">
            <a class="btn btn-success rounded-pill" href="" role="button">Добавить новый город</a>
            <a class="btn btn-warning rounded-pill" href="" role="button">Редактировать</a>
            <a class="btn btn-danger rounded-pill" href="" role="button">Удалить</a>
        </div>
    </div>
</div>

<div class="container">
    <p></p>
    <table class="table table-striped table-dark table-hover">
        <thead>
        <tr>
            <th>Количество снимков</th>
            <th>Дефектов нет</th>
            <th>Начальный дефект</th>
            <th>Развившийся дефект</th>
            <th>Аварийный дефект</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>6</td>
            <td class="text-success">1</td>
            <td class="text-success">2</td>
            <td class="text-warning">3</td>
            <td class="text-danger">4</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}
