{% extends "main_page/basic.html" %}
{% block content %}

<div class="container">
    <div class="card  bg-light shadow-sm ">
        <div class="card-header text-start fs-3">{% block card_header %}{% endblock card_header %}</div>
        <form method="post">{% csrf_token %}
            <div class="card-body text-start ">
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div class="col-md-8 text-end">Город</div>
                    <div class="col-md-4">{{form.city}}</div>
                    <div class="col-md-8 text-end"> Тип подстации</div>
                    <div class="col-md-4"> {{form.view}}</div>
                    <div class="col-md-8 text-end"> Номер подстанции</div>
                    <div class="col-md-4"> {{form.number}}</div>
                </div>
            </div>
            <div class="card-footer text-end">
                <input type="submit" class="btn btn-success rounded-pill px-3"
                       value="{% block btn_text %}{% endblock btn_text %}">
            </div>
        </form>
    </div>
</div>

{% endblock %}
