{% extends "main/basic.html" %}
{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>Город</th>
        <th>Тип</th>
        <th>Номер</th>
    </tr>
    </thead>
    <tbody>

    {% for tp in substations %}
    <tr>
        <td>{{tp.pk}}</td>
        <td>{{tp.city}}</td>
        <td>{{tp.view}}</td>
        <td>{{tp.number}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>



{% with count_space=2 %}

{% load paginator_tags %}
{% get_proper_elided_page_range paginator page_obj.number count_space as page_range %}

<ul class="pagination justify-content-center">
    {% for i in page_range %}

        {% if i == paginator.ELLIPSIS %}

        {{page_obj}}
         {{forloop.index}}
        <li class="page-item">
             <a class="page-link " >{{ paginator.ELLIPSIS }}</a>
        </li>



        {% else %}
            <li class="page-item">
                <a class="page-link {% if i == page_obj.number %}disabled{% endif %}" href="?page={{i}}">{{i}}</a>
            </li>
        {% endif %}

    {% endfor %}
</ul>
{% endwith %}
{% endblock %}
