{% extends "basic.html" %}                               
{% block title %} {{ substation.view|upper }}-{{ substation.number|upper }}, {{substation.city|title}} {% endblock %}               
{% block content %}                                               
<div class="container">                                     
    <div class="card bg-light shadow-sm ">
        <div class="card-body text-left">
            <h2 class="card-title"> {{ substation.city|title }}: {{substation.view|upper}} - {{ substation.number|upper }}</h2>                 
            <p class="card-text">Расположение подстанции: Не известно</p>       
            <p class="card-text">Количество снимков: {{tp.count_photo}} <br>Из них:<br>
            <span class="text-success">Дефектов нет: {{tp.count_ok}}</span><br>                                             
            <span class="text-success">Начальный дефект:{{tp.count_1lv}}</span><br>                                     
            <span class="text-warning">Развившийся дефект:{{tp.count_2lv}}</span><br>                                   
            <span class="text-danger">Аварийный дефект:{{tp.count_3lv}}</span><br></p>
            <div class="container">     
                <table class="table table-dark table-hover">
                    <thead> 
                        <tr>
                            <th>Количество снимков</th>
                            <th>Дефектов нет</th>
                            <th>Начальный дефект</th>
                            <th>Развившийся дефект</th> 
                            <th>Аварийный дефект</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{tp.count_photo}}</td>
                            <td class="text-success">{{tp.count_ok}}</td>                               
                            <td class="text-success">{{tp.count_1lv}}</td>      
                            <td class="text-warning">{{tp.count_2lv}}</td>
                            <td class="text-danger">{{tp.count_3lv}}</td>                       
                        </tr>
                    </tbody>                  
                </table>               
            </div>          
        </div>        
    </div> 
</div>
{% endblock %}
